:root{
    --main-bg-color: white;
    --main-bold-color: #09105e;
    --nav-bg-color: #ececf6;
    --main-icon-color: #726980;
    --main-notActive-color: #66788a;
    --black: #000000;
    --p-color: #728393;
    --bg-green: #197926;
    --bg-red: #cf1322;

    --pattern-dot-color: hsl(256,33,70);
    --pattern-bg-color: hsl(256,33,10);

}

.up{
    background-color: var(--bg-green);
    width: 100%;
    padding: 0.3rem 0;
    border-radius: 0.2rem;
}

.down{
    background-color: var(--bg-red);
    width: 100%;
    padding: 0.3rem 0;
    border-radius: 0.2rem;
}

.dot-pattern{
    background-color: #09105e;
    opacity: 1;
    background-image: radial-gradient(#43438d 0.65px, #09105e 0.65px);
    background-size: 13px 13px;
}

nav{
    background-color: var(--nav-bg-color);
    padding: 1rem;
    flex: 1;
    height: 100vh;
}

ul{
    list-style: none;
}

ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-top: 0.2rem solid var(--nav-bg-color);
    border-bottom: 0.2rem solid var(--nav-bg-color);
    border-radius: 1rem;
    font-weight: bold;
    color: var(--main-notActive-color)
}

ul li span{
    padding-left: 1rem;
}

ul li.active{
    color: var(--main-bold-color);
    background-color: var(--main-bg-color);
}

.content{
    padding: 1rem;
    flex: 3;
    padding: 0 2rem;
}


/* Header */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    color: var(--main-bold-color);
    border-bottom: 2px ridge var(--nav-bg-color);
}
header p{
    font-weight: bold;
    font-size: 1.3rem;
}

header .profile-photo{
    width: 50px;
    height: 50px;
    background-color: var(--black);
    border-radius: 0.5rem;
    color: var(--nav-bg-color);
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home */
.home{
    padding: 1rem 0;
}

h1{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--main-bold-color);
}

.home p{
    color: var(--p-color);
    font-weight: bold;
}

/** Balance **/
.balance{
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

.balance article{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 45%;
    border-radius: 0.2rem;
    padding: 1rem;
}

@media (max-width: 900px){
    .balance{
        flex-direction: column;
    }
    .balance article{
        width: 100%;
        margin-bottom: 1rem;
    }
}

/**** Balance  Revenue **/

.revenue{
    display: flex;
    flex-direction: column;
}

.revenue h4{
    color: var(--main-bold-color);
}

.revenue h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 1.4rem 0;
}

.revenue p{
    color: var(--main-bg-color);
    font-weight: normal;
    text-align: center;
    font-size: 1.1rem;
}

.revenue p span{
    font-weight: bold;
}

/*** Total ***/
.total{
    display: flex;
    flex-direction: column;

    background-color: var(--main-bold-color);
}

.total h4{
    color: var(--main-bg-color);
}

.total h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 1.4rem 0;
    color: var(--main-bg-color);
}

.total p{
    color: var(--main-bg-color);
    font-weight: normal;
    text-align: center;
    font-size: 1.1rem;
}

.total p span{
    font-weight: bold;
}