:root{
    --main-bg-color: white;
    --main-bold-color: #09105e;
    --nav-bg-color: #ececf6;
    --main-icon-color: #726980;
    --main-notActive-color: #66788a;
    --black: #000000;
    --p-color: #728393;
    --bg-green: #197926;
    --bg-red: #cf1322;

    --layer: rgba(0, 0, 0, 0.1);

    --pseudo-red: rgba(255, 0, 21, 1);
    --pseudo-red-50op: rgba(255, 0, 21, 0.5);
    --pseudo-green: rgba(0, 107, 50, 1);
    --pseudo-green-50op: rgba(0, 107, 50, 0.5);
    --pseudo-blue: rgba(0, 39, 102,1);
    --pseudo-blue-50op: rgba(0, 39, 102,0.5);
    --pseudo-pink: rgba(199, 10, 128, 1);
    --pseudo-pink-50op: rgba(199, 10, 128, 0.5);
    --pseudo-cyan: rgba(71, 181, 255, 1);
    --pseudo-cyan-50op: rgba(71, 181, 255, 0.5);
    --pseudo-orange: rgba(241, 84, 18,1);
    --pseudo-orange-50op: rgba(241, 84, 18,0.5);
    --pseudo-brown: rgba(96, 54, 1, 1);
    --pseudo-brown-50op: rgba(96, 54, 1, 0.5);
    --pseudo-purple: rgba(191, 104, 246, 1);
    --pseudo-purple-50op: rgba(191, 104, 246, 0.5);

}

.up{
    background-color: var(--bg-green);
    width: 100%;
    padding: 0.3rem 0;
    border-radius: 0.2rem;
}

.down{
    background-color: var(--bg-red);
    width: 100%;
    padding: 0.3rem 0;
    border-radius: 0.2rem;
}

.dot-pattern{
    background-color: #09105e;
    opacity: 1;
    background-image: radial-gradient(#43438d 0.65px, #09105e 0.65px);
    background-size: 13px 13px;
}

.dot-pattern-red{
    background-color:#871400;
    opacity: 1;
    background-image: radial-gradient(#fa541c 0.65px, #871400 0.65px);
    background-size: 13px 13px;
}

.btn-principal{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--main-bold-color);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 0.3rem;
}

.btn-principal:hover{
    opacity: 0.8;
    cursor: pointer;
}

nav{
    background-color: var(--nav-bg-color);
    padding: 1rem;
    flex: 1;
}

/** pseudoelements **/
.red{
    color: var(--pseudo-red)!important;
}
.red::before{
    background-color: var(--pseudo-red-50op);
}
.red::after{
    background-color: var(--pseudo-red);
}
.blue{
    color: var(--pseudo-blue)!important;
}
.blue::before{
    background-color: var(--pseudo-blue-50op);
}
.blue::after{
    background-color: var(--pseudo-blue);
}
.green{
    color: var(--pseudo-green)!important;
}
.green::before{
    background-color: var(--pseudo-green-50op);
}
.green::after{
    background-color: var(--pseudo-green);
}
.pink{
    color: var(--pseudo-pink)!important;
}
.pink::before{
    background-color: var(--pseudo-pink-50op);
}
.pink::after{
    background-color: var(--pseudo-pink);
}
.cyan{
    color: var(--pseudo-cyan)!important;
}
.cyan::before{
    background-color: var(--pseudo-cyan-50op);
}
.cyan::after{
    background-color: var(--pseudo-cyan);
}
.orange{
    color: var(--pseudo-orange)!important;
}
.orange::before{
    background-color: var(--pseudo-orange-50op);
}
.orange::after{
    background-color: var(--pseudo-orange);
}
.brown{
    color: var(--pseudo-brown)!important;
}
.brown::before{
    background-color: var(--pseudo-brown-50op);
}
.brown::after{
    background-color: var(--pseudo-brown);
}
.purple{
    color: var(--pseudo-purple)!important;
}
.purple::before{
    background-color: var(--pseudo-purple-50op);
}
.purple::after{
    background-color: var(--pseudo-purple);
}


.favicon{
    display: none;
}
.logo{
    display: block;
}
@media (max-width: 780px){
    nav{
        flex: 0;
        width: 80px;
    }

    nav ul{
        padding: 0;
    }

    nav ul li{
        width: 55px;
    }
    nav ul li span{
        display:none;
    }

    .favicon{
        display: block;
        margin: 5px;
        margin-bottom: 1rem;
    }
    .logo{
        display: none;
    }
}

ul{
    list-style: none;
}

ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-top: 0.2rem solid var(--nav-bg-color);
    border-bottom: 0.2rem solid var(--nav-bg-color);
    border-radius: 1rem;
    font-weight: bold;
    color: var(--main-notActive-color)
}

ul li span{
    padding-left: 1rem;
}

ul li.active{
    color: var(--main-bold-color);
    background-color: var(--main-bg-color);
}

.content{
    padding: 1rem;
    flex: 3;
    padding: 0 2rem;
}


/* Header */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    color: var(--main-bold-color);
    border-bottom: 1px ridge var(--layer);
}
header p{
    font-weight: bold;
    font-size: 1.3rem;
}

header .profile-photo{
    width: 50px;
    height: 50px;
    background-color: var(--black);
    border-radius: 0.5rem;
    color: var(--nav-bg-color);
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home */
.home{
    padding: 1rem 0;
}

h1{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--main-bold-color);
}

.home p{
    color: var(--p-color);
    font-weight: bold;
}

/** Balance **/
.balance{
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

.balance article{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 45%;
    border-radius: 0.2rem;
    padding: 1rem;
}

@media (max-width: 900px){
    .balance{
        flex-direction: column;
    }
    .balance article{
        width: 100%;
        margin-bottom: 1rem;
    }
}

/**** Balance  Revenue **/

.revenue{
    display: flex;
    flex-direction: column;
}

.revenue h4{
    color: var(--main-bold-color);
}

.revenue h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 1.4rem 0;
}

.revenue p{
    color: var(--main-bg-color);
    font-weight: normal;
    text-align: center;
    font-size: 1.1rem;
}

.revenue p span{
    font-weight: bold;
}

/*** Total ***/
.total{
    display: flex;
    flex-direction: column;

    background-color: var(--main-bold-color);
}

.total h4{
    color: var(--main-bg-color);
}

.total h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 1.4rem 0;
    color: var(--main-bg-color);
}

.total p{
    color: var(--main-bg-color);
    font-weight: normal;
    text-align: center;
    font-size: 1.1rem;
}

.total p span{
    font-weight: bold;
}

/* Latest transactions */

.transactions{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;

    display: inline-grid;
    width: 100%;
}

.transactions ul{
    padding: 0;
    display: flex;
    flex-direction: column;

    overflow-x: auto;

}


.transactions h4{
    color: var(--main-bold-color);
}

.transactions li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--layer);

    min-width: 800px;

}

.transactions li p{
    flex: 1;
    color: var(--black);
}

.transactions .more{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    color: black;
    font-weight: bold;
}

.transactions .time{
    flex: 0 1 80px;
}

.transactions .description{
    color: var(--p-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    flex: 0 2 300px;
}

.transactions .payment{
    color: var(--p-color);
    font-style: italic;
    flex: 0 1 200px;
}

.transactions .category{
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    position: relative;
    flex: 0 1 50px;
}

.transactions .category::before{
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 0.1rem;
    margin-right: 0.3rem;
    flex: 0 1 100px;
}

.transactions .category::after{
    display: block;
    content: '';
    width: 8px;
    height: 12px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}


.transactions .total{
    background:none;
    text-align: right;
    flex: 1;
}

/** Create payment **/
.create-payment{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    margin: 1rem 0;
}

.create-payment h4{
    color: var(--main-bold-color);
    margin-bottom: 1rem;
}

.create-payment div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
}

.create-payment div label{
    flex: 1;
    text-align: right;
    margin-right: 1rem;
    min-width: 80px;
}

.create-payment div input, .create-payment div select{
    flex:4;
    font-size: 1rem;
    border: none;
    border: 1px solid var(--layer);
    padding-left: 0.5rem;
}

input:focus, select:focus{
    outline: 2px solid #32a1ce;
}

