@font-face {
    font-family: 'Inter', 'Courier New', Courier, monospace;
    src: local('Inter'), url(./fonts/Inter-VariableFont_slnt\,wght.ttf) format('woff');
}

html {
    box-sizing: border-box;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
}

#root{
    display: flex;
}